html {
    scroll-behavior: smooth;
}

body {
    margin: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 110px;
}

button {
    cursor: pointer;
}

/* HEADER RELATED */
#company-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size:xx-large;
    color: #4A55A2;
    margin-top: 60px;
}

#company-name > h4 {
    color: #7895CB;
}

/* NAVIGATION */
#navigation {
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid #C5DFF8;
}

#navigation > nav {
    width: 280px;
    display: flex;
    justify-content: space-evenly;
}

#navigation > nav > a {
    border: 2px solid black;
    padding: 7px 3px 7px 3px;
    flex-grow:1;
    text-align: center;
    text-decoration: none;
    color: #4A55A2;
    transition-duration: 0.4s;
}

#navigation > nav > a:hover {
    color: azure;
    background-color: #4A55A2;
}

#navigation > nav > a:not(:last-child) {
    border-right: none;
}

#navigation > nav > a:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#navigation > nav > a:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #C5DFF8;
}

/* HOME */
#home {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

/* SLIDESHOW AND CONTACT FLEX */
#slide-contact-container {
    display: flex;
    justify-content: space-evenly;
    column-gap: 30px;
}

/* HOME SLIDESHOW */
.slideshow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 80px;
}

.slideshow > img {
    width: 450px;
    height: 300px;
    border-radius: 3px;
}

.slideshow > p {
    width: 400px;
    min-height: 36.8px;
    color: #7895CB;
    font-style: italic;
    padding-left: 35px;
}

.slideshow > div {
    display: flex;
    column-gap: 15px;
    padding-left: 35px;
}

.slideshow > div > img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.slideshow > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slideshow > div > div > #testimony-name {
    font-size: small;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
}

.slideshow > div > div > #job {
    color: #526D82;
    font-size: small;
    font-style: italic;
    margin: 4px 0px 0px 0px;
}

/* HOME CONTACT US */
#contact {
    height: 420px;
    display: flex;
    flex-direction: column;
    background-color: #C5DFF8;
    border-radius: 3px;
    padding: 35px 35px 35px 35px;
}

#contact > .bold-text {
    font-weight: bold;
    margin-top: 0px;
}

#contact > #sales-p {
    width: 225px;
    color: #526D82;
    font-size: small;
    margin-top: 0px;
}

#contact > form {
    display: flex;
    flex-direction: column;
    width: 250px;
    row-gap: 20px;
    margin-top: 40px;
}

#contact > form >div {
    display: flex;
    flex-direction: column;

}

#contact > form > div > input {
    font-size: 14px;
    padding: 17px 12px;
    border: 2px solid #7895CB;
    border-radius: 4px;
}

#contact > form > div > select {
    font-size: 14px; 
    padding: 17px 12px;
    border: 2px solid #7895CB;
    border-radius: 4px;
    cursor: pointer;
}

#contact > form > div > select:required:invalid {
    color: gray;
}

#contact > form > div > select > option:disabled {
    display: none;
}

#contact >form > div > select > optgroup {
    color: black;
}

#contact > form > button {
    font-size: 14px;
    padding: 17px 12px;
    color: white;
    background-color: #4A55A2;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

#contact > form > div > .bold-text {
    font-size: small;
    font-weight: bold;
}

/* HOME BENEFITS */
#benefit {
    width: 450px;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}

#benefit-intro {
    width: 370px;
    font-size: small;
    font-weight: bold;
    line-height: 17px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#benefit-points {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.ben-point {
    display: flex;
    align-items: center;
    column-gap: 25px;

}

.ben-point > img {
    width: 45px;
    height: 45px;
    border: 1px solid #7895CB;
    border-radius: 50%;
}

.ben-text {
    width: 250px;
    color: #526D82;
    font-size: small;
}

/* PACKAGE */
#package {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #C5DFF8;
}

#package > #pack-intro {
    font-size: x-large;
    text-align: center;
    color: #4A55A2;
    background-color: #C5DFF8;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.pack-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
    padding-bottom: 80px;
}

#pack-row2 {
    padding-top: 60px;
    padding-bottom: 120px;
}

.pack-items {
    display: flex;
}

.pack-items > img {
    width: 45px;
    height: 45px;
    border: 1px solid #7895CB;
    border-radius: 50%;
    margin-top: 8px;
    margin-right: 20px;
}

.pack-items-text > p {
    width: 160px;
    color: #526D82;
    font-size: small;
}

/* CALL US */
#call-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#argument-headline {
    font-size: x-large;
    color: #4A55A2;
}

#argument-headline > h2 {
    margin-top: 70px;
    margin-bottom: 27px;
}

#closing-argument {
    width: 500px;
    font-size: small;
    color: #526D82;
    text-align: center;
}

#call-us > #call-button > button {
    font-size: 14px;
    color: white;
    background-color: #4A55A2;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 13px 60px;
    margin-top: 45px;
    margin-bottom: 95px;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    justify-content: center;
    align-items: center;
}

.footer-item-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: small;
    color: #526D82;
}

